doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        link(rel='stylesheet' href='../css/style.css')
        title Document
    body 
            nav.nav Class Identification Card Application Form
            form.row.g-3.form.needs-validation(novalidate='' action="/registration" method='post')
                    h4.heading Please input your information
                    .row.row1
                        .col-6
                            label.form-label(for='validationCustom01') First name
                            input#validationCustom01.form-control(type='text' required='' name='name1')
                            .invalid-feedback
                                | Please enter a valid name
                        .col-6
                            label.form-label(for='validationCustom02') Last name
                            input#validationCustom02.form-control(type='text' required='' name='name2')
                            .invalid-feedback
                                | Please enter a valid name
                    .row.row1 
                        .col-6
                            label.form-label(for='validationCustomUsername') Gender
                            select.form-select(aria-label='Default select example' name='gender' type='text' required='')
                                option(selected='') 
                                option(value='male')  Male
                                option(value='female')  Female
                            .invalid-feedback
                                | Please select one option.
                    
                        .col-6
                            label.form-label(for='validationCustom03') City
                            input#validationCustom03.form-control(type='text' required='' name='city')
                            .invalid-feedback
                                | Please provide a valid city.
                    .row.row1
                        .col-6
                            label.form-label(for='validationCustom04') Email
                            input#validationCustom03.form-control(type='email' required='' name='email' pattern="[A-Za-z0-9]+@[a-zA-Z]+\\.[a-zA-Z]+")
                            .invalid-feedback
                                | Please provide a valid email.
                        .col-6
                            - const today = new Date()
                            - const year = today.getFullYear()
                            - const maximum = year - 18
                            - const minimum = year - 65
                            label.form-label(for='validationCustom05') Date of birth
                            input#validationCustom05.form-control(type='date' required='' name='dob' pattern='', max=maximum+'-12-31', min=minimum+'-12-31')
                            .invalid-feedback
                                | Please provide a valid year.
                    .row.row1
                        .col-12
                            .form-check
                                input#invalidCheck.form-check-input(type='checkbox' value='' required='' name='termsConditions')
                                label.form-check-label(for='invalidCheck')
                                    | Agree to terms and conditions
                                .invalid-feedback
                                    | You must agree before submitting.
                    .row.row1
                        .col-12
                            button.btn.btn-primary(type='submit') Submit form
                
script(src='/js/validate.js')
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")

